JENKINS_HOST_IP=${jenkins_host_ip}
JENKINS_HOST_DNS=${jenkins_host_dns}
DEPLOY_HOST_IP=${deploy_host_ip}
DEPLOY_HOST_DNS=${deploy_host_dns}
DEPLOY_PRIVATE_IP=${deploy_private_ip}
MONITORING_HOST_IP=${monitoring_host_ip}
MONITORING_HOST_DNS=${monitoring_host_dns}
MONITORING_PRIVATE_IP=${monitoring_private_ip}

AWS_REGION=${aws_region}
ANSIBLE_SSH_USER=ec2-user
ANSIBLE_SSH_PRIVATE_KEY_FILE=${ssh_private_key_file}
